/*<-- Spotify Controls Revamped -->*/
@keyframes spinCover{from{rotate:0deg}to{rotate:360deg}}
.panels_a4d4d9{border-radius:8px!important;background-color:unset}
.container_6sXIoE{border-bottom:none;background-color:var(--background-secondary-alt);margin:5px;border-radius:16px}
.flex_ac6bd4>button:nth-child(2){background-color:var(--interactive-normal)!important;color:unset!important;border-radius:50%;filter:unset!important}
button.button_adca65.enabled_adca65:hover,span.button_adca65.enabled_adca65:hover{color:var(--interactive-normal);background-color:unset;filter:brightness(10);scale:1.2;transition:0.1s ease-in-out}
button.button_adca65.enabled_adca65,span.button_adca65.enabled_adca65{background-color:none!important}
.cover_SwJ-ck{animation-name:spinCover;animation-duration:30s;animation-iteration-count:infinite;animation-timing-function:linear;border-radius:50%}.cover_SwJ-ck:not(maximized_vv2Wr0){scale:.75}
.maximized_vv2Wr0 .cover_SwJ-ck{scale:.9}
.maximized_vv2Wr0.withTimeline_824fT_>div.inner_WRV6k5>div.flex_ac6bd4.flexHorizontal_a877ea.flexJustifyStart_a877ea.flexAlignStretch_a877ea.flexNowrap_a877ea>button:nth-child(4){order:-1!important}
.flexNowrap_a877ea>button:nth-child(2):not(.flexNowrap_a877ea>button:nth-child(2)>div::after){display:none}
.flexNowrap_a877ea>button:nth-child(2)>div{box-sizing:border-box;border-style:double;border-width:0 0 0 10px;height:12px;transition:200ms ease-in-out}
.paused_l9f3As .flexNowrap_a877ea>button:nth-child(2)>div{box-sizing:border-box;width:0;height:12px;border-color:#fff0 #fff0 #fff0 var(--background-secondary-alt);transition:200ms ease-in-out;cursor:pointer;border-style:solid;border-width:5px 0 5px 10px}
.flexNowrap_a877ea>button:nth-child(2)>div{font-size:0}.cover_SwJ-ck{border:2px solid}
.timeline_UWmgAx:hover .barFill_Dhkah7{background:var(--brand-500)}
